#product_wrapper
  .module.btcf
    %h1#title {{title}}
    .photo-wrap
      .photo{ style: "background:url('{{image_url}}') no-repeat;  background-position: center; background-size: cover;" }
  .module.button.btcf.left
    %h1
      Like
  .module.button.btcf.right
    %h1
      Skip
